src/pages/_common/footer.pug
footer.footer
	.footer-top
		.footer-cnt
			.footer-wrap-item.footer-wrap-item1
				.footer-title
					h3 Mapa de Sitio
				.footer-list1
					ul
						li
							a(href="nosotros.html") Nosotros
						li
							a(href="contacto.html") Contacto
						li
							a(href="empresas.html") Empresas
						li
							a(href="") Trabaja con Nosotros
						li
							a(href="noticias.html") Noticias
			.footer-wrap-item.footer-wrap-item2
				.footer-title
					h3 Contáctanos
				.footer-list2
					ul
						li
							a(href="tel:326-7200") 326-7200
						li 
							p Av. Industrial 160 - Urb. La Aurora Ate. Lima - Perú.
						li
							a(href="tel:informes@corpol.com") informes@corpol.com
			.footer-wrap-item.footer-wrap-item3
				.footer-title
					h3 Redes Sociales
				.footer-redes
					ul
						li 
							a.icon-SVG-11.icon-facebook(href="" target="t_blank")
						li 
							a.icon-SVG-12.icon-linkedin(href="" target="t_blank")
						li 
							a.icon-SVG-13.icon-youtube(href="" target="t_blank")
						li 
							a.icon-SVG-14.icon-gmail(href="" target="t_blank")
						li 
							a.icon-SVG-15.icon-twitter(href="" target="t_blank")
	.footer-copyright
		.footer-cnt-copyright
			.footer-copyright-left
				p CORPOL - Todos los derechos reservados 2017
			.footer-copyright-right
				p Diseño de Páginas web: 
					a(href="") Staffdigital

programing/_common/footer.html

<footer class="footer">
  <div class="footer-top">
    <div class="footer-cnt">
      <div class="footer-wrap-item footer-wrap-item1">
        <div class="footer-title">
          <h3>Mapa de Sitio</h3>
        </div>
        <div class="footer-list1">
          <ul>
            <li><a href="nosotros.html">Nosotros</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><a href="empresas.html">Empresas</a></li>
            <li><a href="">Trabaja con Nosotros</a></li>
            <li><a href="noticias.html">Noticias</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-wrap-item footer-wrap-item2">
        <div class="footer-title">
          <h3>Contáctanos</h3>
        </div>
        <div class="footer-list2">
          <ul>
            <li><a href="tel:326-7200">326-7200</a></li>
            <li> 
              <p>Av. Industrial 160 - Urb. La Aurora Ate. Lima - Perú.</p>
            </li>
            <li><a href="tel:informes@corpol.com">informes@corpol.com</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-wrap-item footer-wrap-item3">
        <div class="footer-title">
          <h3>Redes Sociales</h3>
        </div>
        <div class="footer-redes">
          <ul>
            <li> <a class="icon-SVG-11 icon-facebook" href="" target="t_blank"></a></li>
            <li> <a class="icon-SVG-12 icon-linkedin" href="" target="t_blank"></a></li>
            <li> <a class="icon-SVG-13 icon-youtube" href="" target="t_blank"></a></li>
            <li> <a class="icon-SVG-14 icon-gmail" href="" target="t_blank"></a></li>
            <li> <a class="icon-SVG-15 icon-twitter" href="" target="t_blank"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="footer-cnt-copyright">
      <div class="footer-copyright-left">
        <p>CORPOL - Todos los derechos reservados 2017</p>
      </div>
      <div class="footer-copyright-right">
        <p>Diseño de Páginas web: <a href="">Staffdigital</a></p>
      </div>
    </div>
  </div>
</footer>
