programing/detalle-noticia.html

    <section class="detalle_noticia">
      <div class="detail_body detail--main"><a class="detail_link detail_link--style" href="">
           Volver a noticias<i class="icon-SVG-18"> </i></a>
        <figure class="detail_img detail--img1">
          <div class="detail_envolver detail--img-center"> <img src="assets/img/detalle_img.png" width="489" height="383"/></div>
        </figure>
        <h2 class="detail_title detail--title_style">COMBATE: Cuerpo  a Cuerpo</h2>
        <h3 class="detail_subtitle detail--subtitle-style">Julio 01, 2017<i class="icon-SVG-20"></i></h3>
        <div class="detail_text detail--text--style"> 
          <p>Grupo Corpol planificó dentro de su Plan Estratégico 2017, ampliar su portafolio de productos, uno de ellos: Preservativos Combate; siendo el más destacado y de mayor expectativa para el grupo.</p>
          <p>EL mes de Mayo fue la fecha de lanzamiento de este nuevo producto, a través de la empresa OQPharma. Combate ingresa a la Familia OTC y se une a la línea de Preservativos junto a Click; marca ya consolidada en el mercado, para abarcar dos segmentos de consumidores: Click (Línea Premium) y Combate (Segmento Precio Bajo)</p>
          <p>Apoyados en la imagen del producto y un slogan muy sugerente (Cuerpo a Cuerpo). Preservativos Combate sale al mercado con un diseño innovador y un precio económico, dirigido a un segmento juvenil, quienes hoy en día se han consolidado como los principales cliente.</p>
          <p>Grupo Corpol sigue enfocado en innovar y ofrecer a sus clientes una amplia gama de productos, a través de sus empresas: OQPharma (Línea Comercial) y Pharmagen (Línea Genérica), para poder atender las necesidades de sus clientes con productos de gran demanda, alta rotación y con precios competitivos.</p>
        </div>
        <figure class="detail_img_text detail--img2"><img src="assets/img/detalle_img_1.png" width="867" height="538"/></figure><a class="btn btn-enlace1 btn-verde rounded-0" href="">
           Compartir en<i class="icon-SVG-11"></i></a>
      </div>
    </section>

src/pages/detalle-noticia.pug
extends ./_common/base.pug

block content
	section.detalle_noticia
		.detail_body.detail--main
			a.detail_link.detail_link--style(href="") 
				|Volver a noticias
				i.icon-SVG-18 
			figure.detail_img.detail--img1
				.detail_envolver.detail--img-center 
					img(src="assets/img/detalle_img.png", width='489', height='383')
			h2.detail_title.detail--title_style
				|COMBATE: Cuerpo  a Cuerpo
			h3.detail_subtitle.detail--subtitle-style
				|Julio 01, 2017
				i.icon-SVG-20
			.detail_text.detail--text--style 
				p Grupo Corpol planificó dentro de su Plan Estratégico 2017, ampliar su portafolio de productos, uno de ellos: Preservativos Combate; siendo el más destacado y de mayor expectativa para el grupo.
				p EL mes de Mayo fue la fecha de lanzamiento de este nuevo producto, a través de la empresa OQPharma. Combate ingresa a la Familia OTC y se une a la línea de Preservativos junto a Click; marca ya consolidada en el mercado, para abarcar dos segmentos de consumidores: Click (Línea Premium) y Combate (Segmento Precio Bajo)
				p Apoyados en la imagen del producto y un slogan muy sugerente (Cuerpo a Cuerpo). Preservativos Combate sale al mercado con un diseño innovador y un precio económico, dirigido a un segmento juvenil, quienes hoy en día se han consolidado como los principales cliente.
				p Grupo Corpol sigue enfocado en innovar y ofrecer a sus clientes una amplia gama de productos, a través de sus empresas: OQPharma (Línea Comercial) y Pharmagen (Línea Genérica), para poder atender las necesidades de sus clientes con productos de gran demanda, alta rotación y con precios competitivos.
			figure.detail_img_text.detail--img2
				img(src="assets/img/detalle_img_1.png", width='867', height='538')
			a.btn.btn-enlace1.btn-verde.rounded-0( href='') 
				|Compartir en
				i.icon-SVG-11

	append scripts
		script.
			
