programing/empresas.html

    <section>
      <div class="content-banner-g">
        <div class="img-banner-g img-nosotros" style="background-image: url(../assets/img/ceci_farma.jpg);"></div>
        <div class="content_text_banner">
          <div class="text-banner-g">
            <h2>Grupo CORPOL</h2>
            <p>Especialista en lo que hacemos</p>
          </div>
        </div>
      </div>
      <div class="empresas">
        <div class="container page_empresas">
          <div>
            <div class="content-title-center">
              <h3 class="title-g-center">Nuestra experiencia<strong>Grupo CORPOL</strong></h3>
            </div>
            <div class="content-parrafo-title">
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it .</p>
            </div>
          </div>
          <div>
            <div class="card content-card-empresas">
              <div class="content-img-empresas">
                <div class="img-empresas" style="background-image: url(../assets/img/farma_mia.png);"></div>
              </div>
              <div class="card-body empresas-body-card"><img class="logos_empresas" src="assets/img/logo_farma_mia.png"/>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500.</p><a class="btn btn-enlace1 btn-verde rounded-0" href="">Más sobre nosotros</a>
              </div>
            </div>
            <div class="card content-card-empresas">
              <div class="content-img-empresas">
                <div class="img-empresas" style="background-image: url(../assets/img/ceci_farma.jpg);"></div>
              </div>
              <div class="card-body empresas-body-card"><img class="logos_empresas" src="assets/img/logo_cecifarma.png"/>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500.</p><a class="btn btn-enlace1 btn-verde rounded-0" href="">Más sobre nosotros</a>
              </div>
            </div>
            <div class="card content-card-empresas">
              <div class="content-img-empresas">
                <div class="img-empresas" style="background-image: url(../assets/img/oq_farma.png);"></div>
              </div>
              <div class="card-body empresas-body-card"><img class="logos_empresas" src="assets/img/logo_oqfarma.png"/>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500.</p><a class="btn btn-enlace1 btn-verde rounded-0" href="">Más sobre nosotros</a>
              </div>
            </div>
            <div class="card content-card-empresas">
              <div class="content-img-empresas">
                <div class="img-empresas" style="background-image: url(../assets/img/pharma_gen.png);"></div>
              </div>
              <div class="card-body empresas-body-card"><img class="logos_empresas" src="assets/img/logo_pharmagen.png"/>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500.</p><a class="btn btn-enlace1 btn-verde rounded-0" href="">Más sobre nosotros</a>
              </div>
            </div>
            <div class="card content-card-empresas">
              <div class="content-img-empresas">
                <div class="img-empresas" style="background-image: url(../assets/img/multi_almacenes.png);"></div>
              </div>
              <div class="card-body empresas-body-card"><img class="logos_empresas" src="assets/img/logo_multialmacenes.png"/>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500.</p><a class="btn btn-enlace1 btn-verde rounded-0" href="">Más sobre nosotros</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

src/pages/empresas.pug
extends ./_common/base.pug

block content
	section
		div.content-banner-g
			.img-banner-g.img-nosotros(style='background-image: url(../assets/img/ceci_farma.jpg);')
			div.content_text_banner
				div.text-banner-g
					h2 Grupo CORPOL
					p Especialista en lo que hacemos

		div.empresas
			div.container.page_empresas
				div
					div.content-title-center
						h3.title-g-center Nuestra experiencia
							strong Grupo CORPOL
					div.content-parrafo-title
						p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it .
				div
					div.card.content-card-empresas
						div.content-img-empresas
							div.img-empresas(style='background-image: url(../assets/img/farma_mia.png);')
						div.card-body.empresas-body-card
							img(class="logos_empresas" src="assets/img/logo_farma_mia.png")
							p Lorem Ipsum has been the industry's standard dummy text ever since the 1500.
							a.btn.btn-enlace1.btn-verde.rounded-0( href='') Más sobre nosotros

					div.card.content-card-empresas
						div.content-img-empresas
							div.img-empresas(style='background-image: url(../assets/img/ceci_farma.jpg);')
						div.card-body.empresas-body-card
							img(class="logos_empresas" src="assets/img/logo_cecifarma.png")
							p Lorem Ipsum has been the industry's standard dummy text ever since the 1500.
							a.btn.btn-enlace1.btn-verde.rounded-0( href='') Más sobre nosotros

					div.card.content-card-empresas
						div.content-img-empresas
							div.img-empresas(style='background-image: url(../assets/img/oq_farma.png);')
						div.card-body.empresas-body-card
							img(class="logos_empresas" src="assets/img/logo_oqfarma.png")
							p Lorem Ipsum has been the industry's standard dummy text ever since the 1500.
							a.btn.btn-enlace1.btn-verde.rounded-0( href='') Más sobre nosotros

					div.card.content-card-empresas
						div.content-img-empresas
							div.img-empresas(style='background-image: url(../assets/img/pharma_gen.png);')
						div.card-body.empresas-body-card
							img(class="logos_empresas" src="assets/img/logo_pharmagen.png")
							p Lorem Ipsum has been the industry's standard dummy text ever since the 1500.
							a.btn.btn-enlace1.btn-verde.rounded-0( href='') Más sobre nosotros

					div.card.content-card-empresas
						div.content-img-empresas
							div.img-empresas(style='background-image: url(../assets/img/multi_almacenes.png);')
						div.card-body.empresas-body-card
							img(class="logos_empresas" src="assets/img/logo_multialmacenes.png")
							p Lorem Ipsum has been the industry's standard dummy text ever since the 1500.
							a.btn.btn-enlace1.btn-verde.rounded-0( href='') Más sobre nosotros
					
