src/pages/enviado.pug
extends ./_common/base.pug

block content
	.msj-enviado
		.msj-envolver
			h2 Enviado!
			h3 Mensaje recibido
			p Nos estaremos comunicando con usted a la brevedad posible.
			a.btn.btn-enlace1.btn-verde.rounded-0(href="") Página Principal

programing/enviado.html

    <div class="msj-enviado">
      <div class="msj-envolver">
        <h2>Enviado!</h2>
        <h3>Mensaje recibido</h3>
        <p>Nos estaremos comunicando con usted a la brevedad posible.</p><a class="btn btn-enlace1 btn-verde rounded-0" href="">Página Principal</a>
      </div>
    </div>
