src/pages/error.pug
extends ./_common/base.pug

block content
	.msj-enviado
		.msj-envolver
			h2 404 Error
			h3 Página no encontrada
			p Esta página puede estar no disponible o haber cambiado de dirección o no existir. <br> Compruebe si la dirección es correcta o regrese.
			a.btn.btn-enlace1.btn-verde.rounded-0(href="") Página Principal

programing/error.html

    <div class="msj-enviado">
      <div class="msj-envolver">
        <h2>404 Error</h2>
        <h3>Página no encontrada</h3>
        <p>Esta página puede estar no disponible o haber cambiado de dirección o no existir. <br> Compruebe si la dirección es correcta o regrese.</p><a class="btn btn-enlace1 btn-verde rounded-0" href="">Página Principal</a>
      </div>
    </div>
