src/pages/fancy-nosotros.pug
extends ./_common/base.pug

block content
	//- .overlayfancy
	//- a.nombre(href="") click
		
	button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModalLong')
		| Launch demo modal
	#exampleModalLong.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLongTitle', aria-hidden='true')
		.modal-dialog.fancymodadl(role='document')
			.modal-content
				.fancy-n
					span.fancyclose.icon-SVG-10(data-dismiss="modal")
					.fancybox
						h3 Somos un equipo
						h2 Trabaja con nosotros
						p Envíanos tus datos y forma parte de Grupo CORPOL
						.fancy-form
							form(action="")
								ul
									li
										.fancy-itm
											input(
												type="text"
												name="nombre"
												placeholder="Nombre"
											)
										.fancy-itm
											input(
												type="text"
												name="apellido"
												placeholder="Apellido"
											)
									li
										.fancy-itm
											input(
												type="text"
												name="telefono"
												placeholder="Teléfono"
											)
										.fancy-itm
											input(
												type="text"
												name="email"
												placeholder="Email"
											)
									li
										.fancy-itm.fancyadjunt
											input#customfancy(
												type="file"
												name=""
												placeholder=""
											)
											label(for="customfancy") Adjunta tu CV
												
								button(class="btn btn-enlace1 btn-verde rounded-0" href="") Enviar

	append scripts
		script.
			$(function(){
				$('.fancyadjunt').each(function(k, el){
					$(el).find('input[type="file"]').change(function(e){
						$(el).parent().find('label').html('').html( e.target.files[0].name);
					});
				});
			});

			$(document).ready(function(){
			
			});

programing/fancy-nosotros.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
    <link rel="stylesheet" href="assets/css/plugins.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <title>Document</title>
  </head>
  <body>
    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModalLong">Launch demo modal</button>
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog fancymodadl" role="document">
        <div class="modal-content">
          <div class="fancy-n"><span class="fancyclose icon-SVG-10" data-dismiss="modal"></span>
            <div class="fancybox">
              <h3>Somos un equipo</h3>
              <h2>Trabaja con nosotros</h2>
              <p>Envíanos tus datos y forma parte de Grupo CORPOL</p>
              <div class="fancy-form">
                <form action="">
                  <ul>
                    <li>
                      <div class="fancy-itm">
                        <input type="text" name="nombre" placeholder="Nombre"/>
                      </div>
                      <div class="fancy-itm">
                        <input type="text" name="apellido" placeholder="Apellido"/>
                      </div>
                    </li>
                    <li>
                      <div class="fancy-itm">
                        <input type="text" name="telefono" placeholder="Teléfono"/>
                      </div>
                      <div class="fancy-itm">
                        <input type="text" name="email" placeholder="Email"/>
                      </div>
                    </li>
                    <li>
                      <div class="fancy-itm fancyadjunt">
                        <input id="customfancy" type="file" name="" placeholder=""/>
                        <label for="customfancy">Adjunta tu CV</label>
                      </div>
                    </li>
                  </ul>
                  <button class="btn btn-enlace1 btn-verde rounded-0" href="">Enviar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(function(){
      	$('.fancyadjunt').each(function(k, el){
      		$(el).find('input[type="file"]').change(function(e){
      			$(el).parent().find('label').html('').html( e.target.files[0].name);
      		});
      	});
      });
      
      $(document).ready(function(){
      
      });
    </script>
    <script>
      $(function(){
      	$('.fancyadjunt').each(function(k, el){
      		$(el).find('input[type="file"]').change(function(e){
      			$(el).parent().find('label').html('').html( e.target.files[0].name);
      		});
      	});
      });
      
      $(document).ready(function(){
      
      });
    </script>
  </body>
</html>
