src/pages/nosotros.pug
extends ./_common/base.pug

block content
	div.content-banner-g
		.img-banner-g.img-nosotros(style='background-image: url(../assets/img/banner_nosotros.jpg);')
		div.content_text_banner
			div.text-banner-g
				h2 Somos un Equipo
				p Brindamos calidad y excelencia

	div.nosotros_experiencia
		div.nosotros_text_experiencia
			div.content-title-left.nosotros_title_left
				h3.title-g-left Nuestra experiencia
					strong Grupo CORPOL
				p CORPOL es un Grupo de empresas de capitales peruanos de Impecable trayectoria,
					strong resultado de una visión empresarial, aunada al esfuerzo del más selecto equipo de profesionales, que busca satisfacer a sus clientes con una amplia línea de productos y servicios de logística con los
		div.nosotros_img_experiencia
			div.img_experiencia(style='background-image: url(../assets/img/banner_nosotros.jpg);')

	section.b10
		div.content-title-left
			h3.title-g-left Nuestra experiencia
			
		.b10-content-wrap
			ul.b10-contenedor-slider
				li.b10-item
					.b10-imagen
						img(src=`${STATIC_URL}img/slider_b10.png` width="745" height="520" alt="" )
					.b10-texto
						h3 Nuestro proceso
						p En este año, la empresa incursiona en el mercado de las clínicas, es aquí donde la empresa empieza a capitalizar porque las ventas ascienden de 20 a 25 mil soles mensuales.
				li.b10-item
					.b10-imagen
						img(src=`${STATIC_URL}img/slider_b10.png` width="745" height="520" alt="" )
					.b10-texto
						h3 Nuestro proceso
						p En este año, la empresa incursiona en el mercado de las clínicas, es aquí donde la empresa empieza a capitalizar porque las ventas ascienden de 20 a 25 mil soles mensuales.
				li.b10-item
					.b10-imagen
						img(src=`${STATIC_URL}img/slider_b10.png` width="745" height="520" alt="" )
					.b10-texto
						h3 Nuestro proceso
						p En este año, la empresa incursiona en el mercado de las clínicas, es aquí donde la empresa empieza a capitalizar porque las ventas ascienden de 20 a 25 mil soles mensuales.
				li.b10-item
					.b10-imagen
						img(src=`${STATIC_URL}img/slider_b10.png` width="745" height="520" alt="" )
					.b10-texto
						h3 Nuestro proceso
						p En este año, la empresa incursiona en el mercado de las clínicas, es aquí donde la empresa empieza a capitalizar porque las ventas ascienden de 20 a 25 mil soles mensuales.
				li.b10-item
					.b10-imagen
						img(src=`${STATIC_URL}img/slider_b10.png` width="745" height="520" alt="" )
					.b10-texto
						h3 Nuestro proceso
						p En este año, la empresa incursiona en el mercado de las clínicas, es aquí donde la empresa empieza a capitalizar porque las ventas ascienden de 20 a 25 mil soles mensuales.
				li.b10-item
					.b10-imagen
						img(src=`${STATIC_URL}img/slider_b10.png` width="745" height="520" alt="" )
					.b10-texto
						h3 Nuestro proceso
						p En este año, la empresa incursiona en el mercado de las clínicas, es aquí donde la empresa empieza a capitalizar porque las ventas ascienden de 20 a 25 mil soles mensuales.


	div
	div.content_banner_azul
		div.nosotros_banner_azul
			div.banner_azul_text1.col-lg-6
				p Las actividades de las empresas que conforman el Grupo están dirigidas a satisfacer las necesidades de los mercados estatales y privados del sector Salud.
				span Gerencia general
			div.banner_azul_text2.col-lg-6
				p La variedad y calidad de los productos que comercializa y la eficiente capacidad de distribución y transporte para llegar a todos los mercados que abastece, le permite al Grupo Corpol encontrarse en el liderazgo de la distribución de productos farmacéuticos.
				p Contamos en la actualidad con una óptima capacidad instalada conformada por instalaciones que albergan a las áreas gerenciales, administrativas, operativas y almacenes.
	div.content_nosotros_valores
		h4 Valores Corporativos
		div.nosotros_valores
			div.container
				div.row
					div.col-xl-6.col-lg-6.col-md-6
						div.valores_corporativos
							div.valores_icon
								img(src="../assets/img/icon_compromiso.png")
							div.text_valores
								p Compromiso
								span Cumplimos con los servicios que ofrecemos, aceptamos las metas y estrategias como algo propio. Cumplimos oportunamente nuestro compromiso de cobertura, continuidad y calidad de servicio.
						div.valores_corporativos
							div.valores_icon
								img(src="../assets/img/icon_responsabilidad.png")
							div.text_valores
								p Responsabilidad
								span Buscamos hacer las cosas bien, somos conscientes del impacto directo o indirecto de todo lo que hacemos, cumplimos con nuestras obligaciones en tiempo y en forma. Ponemos cuidado y atención en todo lo que hacemos y decimos.
						div.valores_corporativos
							div.valores_icon
								img(src="../assets/img/icon_proactividad.png")
							div.text_valores
								p Pro actividad
								span Tenemos una actitud en la cual asumimos el pleno control de nuestra conducta de modo activo, lo que implica que tomamos la iniciativa en el desarrollo de acciones creativas y audaces para generar mejoras, adelantándonos a los hechos y haciendo que las cosas sucedan.
					div.col-xl-6.col-lg-6.col-md-6
						div.valores_corporativos
							div.valores_icon
								img(src="../assets/img/icon_ profesionalismo.png")
							div.text_valores
								p Profesionalismo
								span Damos lo mejor de nosotros mismos para atender a nuestros Clientes. Somos mejores todos los días, trabajamos en equipo y aplicamos el mejoramiento continuo, comparándonos con los mejores y adoptando las mejores Prácticas.
						div.valores_corporativos
							div.valores_icon
								img(src="../assets/img/icon_integridad.png")
							div.text_valores
								p Integridad
								span Respetamos la dignidad del ser humano, sus valores,  creencias y reconocemos nuestras diferencias. Escuchamos a todos con atención y valoramos sus aportes.

	div.nosotros_nuestro_proceso
		div.nuestro_proceso
			div.img1_nuestro_proceso
				img(src="../assets/img/img_fondo_nproceso.png")
			div.text_nuestro_proceso
				h4 Nuestro Proceso
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec volutpat quam, vel viverra ante. Nullam eget dolor a neque malesuada aliquet eu nec sems aptent taciti sociosqu ad litora 
				a.btn.btn-enlace1.btn-verde.rounded-0( href='') Más información
			div.img2_nuestro_proceso
				img(src="../assets/img/nuestro_proceso.png")

programing/nosotros.html

    <div class="content-banner-g">
      <div class="img-banner-g img-nosotros" style="background-image: url(../assets/img/banner_nosotros.jpg);"></div>
      <div class="content_text_banner">
        <div class="text-banner-g">
          <h2>Somos un Equipo</h2>
          <p>Brindamos calidad y excelencia</p>
        </div>
      </div>
    </div>
    <div class="nosotros_experiencia">
      <div class="nosotros_text_experiencia">
        <div class="content-title-left nosotros_title_left">
          <h3 class="title-g-left">Nuestra experiencia<strong>Grupo CORPOL</strong></h3>
          <p>CORPOL es un Grupo de empresas de capitales peruanos de Impecable trayectoria,<strong>resultado de una visión empresarial, aunada al esfuerzo del más selecto equipo de profesionales, que busca satisfacer a sus clientes con una amplia línea de productos y servicios de logística con los</strong></p>
        </div>
      </div>
      <div class="nosotros_img_experiencia">
        <div class="img_experiencia" style="background-image: url(../assets/img/banner_nosotros.jpg);"></div>
      </div>
    </div>
    <section class="b10">
      <div class="content-title-left">
        <h3 class="title-g-left">Nuestra experiencia</h3>
      </div>
      <div class="b10-content-wrap">
        <ul class="b10-contenedor-slider">
          <li class="b10-item">
            <div class="b10-imagen"><img src="assets/img/slider_b10.png" width="745" height="520" alt=""/></div>
            <div class="b10-texto">
              <h3>Nuestro proceso</h3>
              <p>En este año, la empresa incursiona en el mercado de las clínicas, es aquí donde la empresa empieza a capitalizar porque las ventas ascienden de 20 a 25 mil soles mensuales.</p>
            </div>
          </li>
          <li class="b10-item">
            <div class="b10-imagen"><img src="assets/img/slider_b10.png" width="745" height="520" alt=""/></div>
            <div class="b10-texto">
              <h3>Nuestro proceso</h3>
              <p>En este año, la empresa incursiona en el mercado de las clínicas, es aquí donde la empresa empieza a capitalizar porque las ventas ascienden de 20 a 25 mil soles mensuales.</p>
            </div>
          </li>
          <li class="b10-item">
            <div class="b10-imagen"><img src="assets/img/slider_b10.png" width="745" height="520" alt=""/></div>
            <div class="b10-texto">
              <h3>Nuestro proceso</h3>
              <p>En este año, la empresa incursiona en el mercado de las clínicas, es aquí donde la empresa empieza a capitalizar porque las ventas ascienden de 20 a 25 mil soles mensuales.</p>
            </div>
          </li>
          <li class="b10-item">
            <div class="b10-imagen"><img src="assets/img/slider_b10.png" width="745" height="520" alt=""/></div>
            <div class="b10-texto">
              <h3>Nuestro proceso</h3>
              <p>En este año, la empresa incursiona en el mercado de las clínicas, es aquí donde la empresa empieza a capitalizar porque las ventas ascienden de 20 a 25 mil soles mensuales.</p>
            </div>
          </li>
          <li class="b10-item">
            <div class="b10-imagen"><img src="assets/img/slider_b10.png" width="745" height="520" alt=""/></div>
            <div class="b10-texto">
              <h3>Nuestro proceso</h3>
              <p>En este año, la empresa incursiona en el mercado de las clínicas, es aquí donde la empresa empieza a capitalizar porque las ventas ascienden de 20 a 25 mil soles mensuales.</p>
            </div>
          </li>
          <li class="b10-item">
            <div class="b10-imagen"><img src="assets/img/slider_b10.png" width="745" height="520" alt=""/></div>
            <div class="b10-texto">
              <h3>Nuestro proceso</h3>
              <p>En este año, la empresa incursiona en el mercado de las clínicas, es aquí donde la empresa empieza a capitalizar porque las ventas ascienden de 20 a 25 mil soles mensuales.</p>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <div></div>
    <div class="content_banner_azul">
      <div class="nosotros_banner_azul">
        <div class="banner_azul_text1 col-lg-6">
          <p>Las actividades de las empresas que conforman el Grupo están dirigidas a satisfacer las necesidades de los mercados estatales y privados del sector Salud.</p><span>Gerencia general</span>
        </div>
        <div class="banner_azul_text2 col-lg-6">
          <p>La variedad y calidad de los productos que comercializa y la eficiente capacidad de distribución y transporte para llegar a todos los mercados que abastece, le permite al Grupo Corpol encontrarse en el liderazgo de la distribución de productos farmacéuticos.</p>
          <p>Contamos en la actualidad con una óptima capacidad instalada conformada por instalaciones que albergan a las áreas gerenciales, administrativas, operativas y almacenes.</p>
        </div>
      </div>
    </div>
    <div class="content_nosotros_valores">
      <h4>Valores Corporativos</h4>
      <div class="nosotros_valores">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
              <div class="valores_corporativos">
                <div class="valores_icon"><img src="../assets/img/icon_compromiso.png"/></div>
                <div class="text_valores">
                  <p>Compromiso</p><span>Cumplimos con los servicios que ofrecemos, aceptamos las metas y estrategias como algo propio. Cumplimos oportunamente nuestro compromiso de cobertura, continuidad y calidad de servicio.</span>
                </div>
              </div>
              <div class="valores_corporativos">
                <div class="valores_icon"><img src="../assets/img/icon_responsabilidad.png"/></div>
                <div class="text_valores">
                  <p>Responsabilidad</p><span>Buscamos hacer las cosas bien, somos conscientes del impacto directo o indirecto de todo lo que hacemos, cumplimos con nuestras obligaciones en tiempo y en forma. Ponemos cuidado y atención en todo lo que hacemos y decimos.</span>
                </div>
              </div>
              <div class="valores_corporativos">
                <div class="valores_icon"><img src="../assets/img/icon_proactividad.png"/></div>
                <div class="text_valores">
                  <p>Pro actividad</p><span>Tenemos una actitud en la cual asumimos el pleno control de nuestra conducta de modo activo, lo que implica que tomamos la iniciativa en el desarrollo de acciones creativas y audaces para generar mejoras, adelantándonos a los hechos y haciendo que las cosas sucedan.</span>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
              <div class="valores_corporativos">
                <div class="valores_icon"><img src="../assets/img/icon_ profesionalismo.png"/></div>
                <div class="text_valores">
                  <p>Profesionalismo</p><span>Damos lo mejor de nosotros mismos para atender a nuestros Clientes. Somos mejores todos los días, trabajamos en equipo y aplicamos el mejoramiento continuo, comparándonos con los mejores y adoptando las mejores Prácticas.</span>
                </div>
              </div>
              <div class="valores_corporativos">
                <div class="valores_icon"><img src="../assets/img/icon_integridad.png"/></div>
                <div class="text_valores">
                  <p>Integridad</p><span>Respetamos la dignidad del ser humano, sus valores,  creencias y reconocemos nuestras diferencias. Escuchamos a todos con atención y valoramos sus aportes.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nosotros_nuestro_proceso">
      <div class="nuestro_proceso">
        <div class="img1_nuestro_proceso"><img src="../assets/img/img_fondo_nproceso.png"/></div>
        <div class="text_nuestro_proceso">
          <h4>Nuestro Proceso</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec volutpat quam, vel viverra ante. Nullam eget dolor a neque malesuada aliquet eu nec sems aptent taciti sociosqu ad litora </p><a class="btn btn-enlace1 btn-verde rounded-0" href="">Más información</a>
        </div>
        <div class="img2_nuestro_proceso"><img src="../assets/img/nuestro_proceso.png"/></div>
      </div>
    </div>
