programing/noticias.html

    <section class="w-noticias">
      <div class="w-noticnt container">
        <div class="content-title-center">
          <h3 class="title-g-center">Siempre actualizados<strong>Noticias</strong></h3>
        </div>
        <div class="w-boxnoticias">
          <div class="w-notItm"><span class="noticiafondo"></span>
            <figure class="w-img"><img src="assets/img/img-noti-2.jpg" width="570" height="350"/></figure>
            <div class="w-notiInner"><span class="w-fecha-noticias">31 /05/17</span>
              <h2>19 Años… Brindando salud.</h2>
              <p>El pasado 24 de abril, se llevó a cabo el 19° Aniversario del GRUPO CORPOL, evento realizado en las instalaciones.....</p><a href="">ver detalle<span class="icon-SVG-19"></span></a>
            </div>
          </div>
          <div class="w-notItm"><span class="noticiafondo"></span>
            <figure class="w-img"><img src="assets/img/img-noti-2.jpg" width="570" height="350"/></figure>
            <div class="w-notiInner"><span class="w-fecha-noticias">31 /05/17</span>
              <h2>19 Años… Brindando salud.</h2>
              <p>El pasado 24 de abril, se llevó a cabo el 19° Aniversario del GRUPO CORPOL, evento realizado en las instalaciones.....</p><a href="">ver detalle<span class="icon-SVG-19"></span></a>
            </div>
          </div>
          <div class="w-notItm"><span class="noticiafondo"></span>
            <figure class="w-img"><img src="assets/img/img-noti-2.jpg" width="570" height="350"/></figure>
            <div class="w-notiInner"><span class="w-fecha-noticias">31 /05/17</span>
              <h2>19 Años… Brindando salud.</h2>
              <p>El pasado 24 de abril, se llevó a cabo el 19° Aniversario del GRUPO CORPOL, evento realizado en las instalaciones.....</p><a href="">ver detalle<span class="icon-SVG-19"></span></a>
            </div>
          </div>
          <div class="w-notItm"><span class="noticiafondo"></span>
            <figure class="w-img"><img src="assets/img/img-noti-2.jpg" width="570" height="350"/></figure>
            <div class="w-notiInner"><span class="w-fecha-noticias">31 /05/17</span>
              <h2>19 Años… Brindando salud.</h2>
              <p>El pasado 24 de abril, se llevó a cabo el 19° Aniversario del GRUPO CORPOL, evento realizado en las instalaciones.....</p><a href="">ver detalle<span class="icon-SVG-19"></span></a>
            </div>
          </div>
          <div class="w-notItm"><span class="noticiafondo"></span>
            <figure class="w-img"><img src="assets/img/img-noti-2.jpg" width="570" height="350"/></figure>
            <div class="w-notiInner"><span class="w-fecha-noticias">31 /05/17</span>
              <h2>19 Años… Brindando salud.</h2>
              <p>El pasado 24 de abril, se llevó a cabo el 19° Aniversario del GRUPO CORPOL, evento realizado en las instalaciones.....</p><a href="">ver detalle<span class="icon-SVG-19"></span></a>
            </div>
          </div>
          <div class="w-notItm"><span class="noticiafondo"></span>
            <figure class="w-img"><img src="assets/img/img-noti-2.jpg" width="570" height="350"/></figure>
            <div class="w-notiInner"><span class="w-fecha-noticias">31 /05/17</span>
              <h2>19 Años… Brindando salud.</h2>
              <p>El pasado 24 de abril, se llevó a cabo el 19° Aniversario del GRUPO CORPOL, evento realizado en las instalaciones.....</p><a href="">ver detalle<span class="icon-SVG-19"></span></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      $(function(){
      	//- function linkToParent(i){
      	//- 	$(i).each(function(index, el) {
      	//- 		$(el).css('cursor', 'pointer').click(function(e) {
      	//- 			 $( location ).attr("href", $(el).find('a').attr('href'));
      	//- 		});
      	//- 	});
      	//- };
      	//- linkToParent('.w-notItm');	
      	
      	$('.noticiafondo').click(function(event){
      		event.preventDefault();
      		$(this).closest('.w-notItm').find('.w-notiInner').addClass('active');
      	});
      
      
      });
    </script>
    <script>
      $(function(){
      	//- function linkToParent(i){
      	//- 	$(i).each(function(index, el) {
      	//- 		$(el).css('cursor', 'pointer').click(function(e) {
      	//- 			 $( location ).attr("href", $(el).find('a').attr('href'));
      	//- 		});
      	//- 	});
      	//- };
      	//- linkToParent('.w-notItm');	
      	
      	$('.noticiafondo').click(function(event){
      		event.preventDefault();
      		$(this).closest('.w-notItm').find('.w-notiInner').addClass('active');
      	});
      
      
      });
    </script>

src/pages/noticias.pug
extends ./_common/base.pug

block content
	
	section.w-noticias
		.w-noticnt.container
			.content-title-center
				h3.title-g-center Siempre actualizados
					strong Noticias
			.w-boxnoticias
				-for (var x = 0; x < 6; x++)
					.w-notItm
						span.noticiafondo
						figure.w-img
							img(src="assets/img/img-noti-2.jpg", width='570', height='350')
						.w-notiInner
							span.w-fecha-noticias 31 /05/17
							h2 19 Años… Brindando salud.
							p El pasado 24 de abril, se llevó a cabo el 19° Aniversario del GRUPO CORPOL, evento realizado en las instalaciones.....
							a(href="") ver detalle
								span.icon-SVG-19

				
	append scripts
		script.
			$(function(){
				//- function linkToParent(i){
				//- 	$(i).each(function(index, el) {
				//- 		$(el).css('cursor', 'pointer').click(function(e) {
				//- 			 $( location ).attr("href", $(el).find('a').attr('href'));
				//- 		});
				//- 	});
				//- };
				//- linkToParent('.w-notItm');	
				
				$('.noticiafondo').click(function(event){
					event.preventDefault();
					$(this).closest('.w-notItm').find('.w-notiInner').addClass('active');
				});


			});
