src/pages/proceso.pug
extends ./_common/base.pug

block content
	div.content-banner-g
		.img-banner-g.img-nosotros(style='background-image: url(../assets/img/banner_nosotros.jpg);')
		div.content_text_banner
			div.text-banner-g
				h2 Brindamos eficiencia
				p Servicio completo para nuestros clientes

	div.servicio-wrap
		.servicio-cnt-all
			.content-title-center
				h3.title-g-center Nuestro proceso
					strong Servicio integral
			.servicio-cnt-items
				-for (var x = 0; x < 6; x++)
					.servicio-item
						.servicio-info
							.servicio-info-title
								span.servicio-num 2
								h3 Nuestras Experiencias
							.servicio-info-text
								p No hay mejor opción que invertir en América Latina a través de PHARMAGEN Y OQ PHARMA (Empresas del Grupo CORPOL), con más de 20 años de experiencia en el Perú, solida, estable y exitosa.
						.servicio-image
							.servicio-img(style='background-image: url(../assets/img/servicio-img-item.jpg);')
					

dist/proceso.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
    <link rel="stylesheet" href="assets/css/plugins.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <title>Document</title>
  </head>
  <body>
    <div class="header-wrap">
      <div class="header-fixed">
        <div class="header-cnt"><a class="header-logo" href="home.html"><img src="assets/img/header-logo.png" alt=""/></a>
          <div class="header-cnt-list">
            <ul class="header-list">
              <li class="header-item"><a class="header-link" href="nosotros.html">Productos</a></li>
              <li class="header-item"><a class="header-link" href="empresas.html">Empresas</a></li>
              <li class="header-item"><a class="header-link" href="proceso.html">Proceso</a></li>
              <li class="header-item"><a class="header-link" href="noticias.html">Noticias</a></li>
              <li class="header-item"><a class="header-link" href="contacto.html">Contacto</a></li>
            </ul>
          </div>
          <div class="header-languages">
            <div class="header-languages-select">
              <select>
                <option value="español">Es</option>
                <option value="ingles">En</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-mobile-open icon-menu"></div>
    <div class="menu-mobile-close icon-close"></div>
    <div class="header-menu-overlay"></div>
    <div class="menu-sidebar">
      <div class="menu-sidebar-cnt"></div>
    </div>
    <div class="content-banner-g">
      <div class="img-banner-g img-nosotros" style="background-image: url(../assets/img/banner_nosotros.jpg);"></div>
      <div class="content_text_banner">
        <div class="text-banner-g">
          <h2>Brindamos eficiencia</h2>
          <p>Servicio completo para nuestros clientes</p>
        </div>
      </div>
    </div>
    <div class="servicio-wrap">
      <div class="content-title-center">
        <h3 class="title-g-center">Nuestro proceso<strong>Servicio integral</strong></h3>
      </div>
      <div class="servicio-cnt-items">
        <div class="servicio-item">
          <div class="servicio-image">
            <div class="servicio-img"></div>
          </div>
          <div class="servicio-info">
            <div class="servicio-info-title">
              <h3>Nuestras Experiencias</h3>
            </div>
            <div class="servicio-info-text">
              <p>No hay mejor opción que invertir en América Latina a través de PHARMAGEN Y OQ PHARMA (Empresas del Grupo CORPOL), con más de 20 años de experiencia en el Perú, solida, estable y exitosa.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer-top">
        <div class="footer-cnt">
          <div class="footer-wrap-item footer-wrap-item1">
            <div class="footer-title">
              <h3>Mapa de Sitio</h3>
            </div>
            <div class="footer-list1">
              <ul>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="empresas.html">Empresas</a></li>
                <li><a href="">Trabaja con Nosotros</a></li>
                <li><a href="noticias.html">Noticias</a></li>
              </ul>
            </div>
          </div>
          <div class="footer-wrap-item footer-wrap-item2">
            <div class="footer-title">
              <h3>Contáctanos</h3>
            </div>
            <div class="footer-list2">
              <ul>
                <li><a href="tel:326-7200">326-7200</a></li>
                <li> 
                  <p>Av. Industrial 160 - Urb. La Aurora Ate. Lima - Perú.</p>
                </li>
                <li><a href="tel:informes@corpol.com">informes@corpol.com</a></li>
              </ul>
            </div>
          </div>
          <div class="footer-wrap-item footer-wrap-item3">
            <div class="footer-title">
              <h3>Redes Sociales</h3>
            </div>
            <div class="footer-redes">
              <ul>
                <li> <a class="icon-SVG-11 icon-facebook" href="" target="t_blank"></a></li>
                <li> <a class="icon-SVG-12 icon-linkedin" href="" target="t_blank"></a></li>
                <li> <a class="icon-SVG-13 icon-youtube" href="" target="t_blank"></a></li>
                <li> <a class="icon-SVG-14 icon-gmail" href="" target="t_blank"></a></li>
                <li> <a class="icon-SVG-15 icon-twitter" href="" target="t_blank"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="footer-cnt-copyright">
          <div class="footer-copyright-left">
            <p>CORPOL - Todos los derechos reservados 2017</p>
          </div>
          <div class="footer-copyright-right">
            <p>Diseño de Páginas web: <a href="">Staffdigital</a></p>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
