dist/generals/generals.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../assets/css/main.css"/>
    <title>Document</title>
  </head>
  <body><a class="btn btn-enlace1 btn-verde rounded-0" href="">Más sobre nosotros</a><a class="btn btn-enlace1 btn-verde rounded-0" href="">Compartir en<i class="icon-SVG-11"></i></a><a class="btn btn-enlace1 btn-verde rounded-0" href="">Ver mapas<i class="icon-SVG-17"></i></a>
    <div class="content-title-center">
      <h3 class="title-g-center">Conócenos<strong>Grupo CORPOL</strong></h3>
    </div>
    <div class="content-title-left">
      <h3 class="title-g-left">Nuestra experiencia<strong>Grupo CORPOL</strong></h3>
    </div>
    <div class="content-banner-g">
      <div class="img-banner-g img-nosotros" style="background-image: url(../assets/img/banner_nosotros.jpg);"></div>
      <div class="content_text_banner">
        <div class="text-banner-g">
          <h2>Somos un Equipo</h2>
          <p>Brindamos calidad y excelencia</p>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>

src/pages/generals/generals.pug
extends ./_common/base.pug
//- btn
block content
	a.btn.btn-enlace1.btn-verde.rounded-0( href='') Más sobre nosotros

	a.btn.btn-enlace1.btn-verde.rounded-0( href='')
		| Compartir en
		i.icon-SVG-11
			
	a.btn.btn-enlace1.btn-verde.rounded-0( href='')
		| Ver mapas
		i.icon-SVG-17

	//-title
	div.content-title-center
		h3.title-g-center Conócenos
			strong Grupo CORPOL

	div.content-title-left
		h3.title-g-left Nuestra experiencia
			strong Grupo CORPOL

	//-banner
	div.content-banner-g
		.img-banner-g.img-nosotros(style='background-image: url(../assets/img/banner_nosotros.jpg);')
		div.content_text_banner
			div.text-banner-g
				h2 Somos un Equipo
				p Brindamos calidad y excelencia
	
